In [129]:
import pandas as pd
df = pd.read_csv('bmw.csv')
print(df.head())

       model  year  price transmission  mileage fuelType  tax   mpg  \
0   5 Series  2014  11200    Automatic    67068   Diesel  125  57.6
1   6 Series  2018  27000    Automatic    14827   Petrol  145  42.8
2   5 Series  2016  16000    Automatic    62794   Diesel  160  51.4
3   1 Series  2017  12750    Automatic    26676   Diesel  145  72.4
4   7 Series  2014  14500    Automatic    39554   Diesel  160  50.4

   engineSize
0         2.0
1         2.0
2         3.0
3         1.5
4         3.0

In [130]:
# 1
print("\nEjercicio 1\n")
print(df[:10])

Ejercicio 1

       model  year  price transmission  mileage fuelType  tax   mpg  \
0   5 Series  2014  11200    Automatic    67068   Diesel  125  57.6
1   6 Series  2018  27000    Automatic    14827   Petrol  145  42.8
2   5 Series  2016  16000    Automatic    62794   Diesel  160  51.4
3   1 Series  2017  12750    Automatic    26676   Diesel  145  72.4
4   7 Series  2014  14500    Automatic    39554   Diesel  160  50.4
5   5 Series  2016  14900    Automatic    35309   Diesel  125  60.1
6   5 Series  2017  16000    Automatic    38538   Diesel  125  60.1
7   2 Series  2018  16250       Manual    10401   Petrol  145  52.3
8   4 Series  2017  14250       Manual    42668   Diesel   30  62.8
9   5 Series  2016  14250    Automatic    36099   Diesel   20  68.9

   engineSize
0         2.0
1         2.0
2         3.0
3         1.5
4         3.0
5         2.0
6         2.0
7         1.5
8         2.0
9         2.0

In [131]:
# 2
print("\nEjercicio 2\n")
year = df["year"]
print(year)
print("Tipo: ", year.dtype)
print("Nº registros:", len(year))

Ejercicio 2

0        2014
1        2018
2        2016
3        2017
4        2014
         ...
10776    2016
10777    2016
10778    2017
10779    2014
10780    2017
Name: year, Length: 10781, dtype: int64
Tipo:  int64
Nº registros: 10781

In [132]:
# 3
print("\nEjercicio 3\n")
mileage = df['mileage']
mileage = mileage[0::7]
print(mileage)

Ejercicio 3

0        67068
7        10401
14       19057
21       78957
28       96213
         ...
10752    41500
10759    54008
10766    54987
10773    60372
10780    59432
Name: mileage, Length: 1541, dtype: int64

In [133]:
# 4
print("\nEjercicio 4\n")
mileage = df['mileage']
mileage = mileage.sample(frac=0.4)
print(mileage)

Ejercicio 4

6034    30088
7827     3066
787     64215
7441     9601
4715    24389
        ...
1571    14612
7718    48000
3628    65800
2359    16279
8697    22633
Name: mileage, Length: 4312, dtype: int64

In [134]:
# 5
print("\nEjercicio 5\n")
mileage = df['mileage']
print(mileage[mileage < 20000])

Ejercicio 5

1        14827
7        10401
14       19057
15       16570
39        6522
         ...
10740     3551
10741     2784
10742     5634
10743    13165
10755    13955
Name: mileage, Length: 5610, dtype: int64

In [135]:
# 6
print("\nEjercicio 6\n")
mpg = df['mpg']
print(mpg.sort_values(ascending=True))

Ejercicio 6

6965      5.5
6172      5.5
6132      5.5
6198      5.5
2116      5.5
        ...
7299    470.8
3628    470.8
6070    470.8
2352    470.8
7347    470.8
Name: mpg, Length: 10781, dtype: float64

In [136]:
# 7
print("\nEjercicio 7\n")
engine = df['engineSize']
print(engine)
print("Media: ", engine.mean())
print("Desviacion tipica: ", engine.std())
print("Maximo: ", engine.max())
print("Minimo: ", engine.min())

Ejercicio 7

0        2.0
1        2.0
2        3.0
3        1.5
4        3.0
        ...
10776    2.0
10777    2.0
10778    2.0
10779    2.0
10780    2.0
Name: engineSize, Length: 10781, dtype: float64
Media:  2.1677673685186902
Desviacion tipica:  0.5520537772398375
Maximo:  6.6
Minimo:  0.0

In [137]:
# 8
print("\nEjercicio 8\n")
print(df.shape, "\n")
print(df.iloc[-3])

Ejercicio 8

(10781, 9)

model            3 Series
year                 2017
price               13100
transmission       Manual
mileage             25468
fuelType           Petrol
tax                   200
mpg                  42.8
engineSize            2.0
Name: 10778, dtype: object

In [138]:
# 9
print("\nEjercicio 9\n")
df2 = df[["mileage", "price", "mpg"]]
print(df2)
print(df2.sample(frac=0.2))

Ejercicio 9

       mileage  price   mpg
0        67068  11200  57.6
1        14827  27000  42.8
2        62794  16000  51.4
3        26676  12750  72.4
4        39554  14500  50.4
...        ...    ...   ...
10776    40818  19000  54.3
10777    42947  14600  60.1
10778    25468  13100  42.8
10779    45000   9930  64.2
10780    59432  15981  57.6

[10781 rows x 3 columns]
       mileage  price   mpg
5888      4923  20999  47.9
7362     51000  13477  50.4
2988     39714  13995  67.3
2454     32771  33991  47.1
10274    68489  10400  64.2
...        ...    ...   ...
9825      3250  25500  48.7
5533      3250  26991  41.5
2161      8143  54550  37.7
2098      4832  35694  42.8
3901      4512  18440  68.9

[2156 rows x 3 columns]

In [139]:
# 10
print("\nEjercicio 10\n")
print(df[(df["mileage"] < 10000) & (df["mpg"] > 40)])

Ejercicio 10

           model  year  price transmission  mileage fuelType  tax   mpg  \
131     1 Series  2017  14600    Automatic     5615   Petrol  145  58.9
148     1 Series  2016  13700       Manual     8719   Petrol  125  52.3
153     1 Series  2016  13750    Automatic     8707   Petrol   30  55.5
166           X1  2020  31498    Semi-Auto     1560   Diesel  145  60.1
167     2 Series  2020  27998       Manual     1580   Petrol  150  43.5
...          ...   ...    ...          ...      ...      ...  ...   ...
10713   3 Series  2020  23899    Automatic     1255   Petrol  150  47.9
10739   3 Series  2019  23987    Automatic     1049   Petrol  150  47.9
10740   3 Series  2019  23454    Automatic     3551   Petrol  150  47.9
10741   3 Series  2019  23599    Automatic     2784   Petrol  145  47.9
10742   3 Series  2019  23499    Automatic     5634   Petrol  145  47.9

       engineSize
131           1.5
148           1.5
153           1.5
166           2.0
167           1.5
...           ...
10713         2.0
10739         2.0
10740         2.0
10741         2.0
10742         2.0

[3079 rows x 9 columns]

In [140]:
# 11
print("\nEjercicio 11\n")
df2 = df.copy()
df2["model"] = df2["model"].replace({
    " 1 Series": "Series 1",
    " 2 Series": "Series 2",
    " 3 Series": "Series 3",
    " 4 Series": "Series 4",
    " 5 Series": "Series 5",
    " 6 Series": "Series 6",
    " 7 Series": "Series 7",
    " 8 Series": "Series 8",
    " 9 Series": "Series 9",
})
print(df2)

Ejercicio 11

          model  year  price transmission  mileage fuelType  tax   mpg  \
0      Series 5  2014  11200    Automatic    67068   Diesel  125  57.6
1      Series 6  2018  27000    Automatic    14827   Petrol  145  42.8
2      Series 5  2016  16000    Automatic    62794   Diesel  160  51.4
3      Series 1  2017  12750    Automatic    26676   Diesel  145  72.4
4      Series 7  2014  14500    Automatic    39554   Diesel  160  50.4
...         ...   ...    ...          ...      ...      ...  ...   ...
10776        X3  2016  19000    Automatic    40818   Diesel  150  54.3
10777  Series 5  2016  14600    Automatic    42947   Diesel  125  60.1
10778  Series 3  2017  13100       Manual    25468   Petrol  200  42.8
10779  Series 1  2014   9930    Automatic    45000   Diesel   30  64.2
10780        X1  2017  15981    Automatic    59432   Diesel  125  57.6

       engineSize
0             2.0
1             2.0
2             3.0
3             1.5
4             3.0
...           ...
10776         2.0
10777         2.0
10778         2.0
10779         2.0
10780         2.0

[10781 rows x 9 columns]

In [141]:
# 12
print("\nEjercicio 12\n")
nuevo = {
    "model": "3 Series",
    "year": 2023,
    "price": 22572,
    "transmission": "Automatic",
    "mileage": 74120,
    "fuelType": "Diesel",
    "tax": 160,
    "mpg": 58.4,
    "engineSize": 2.0
}
df2 = df.copy()
df2.loc[len(df)] = nuevo
print(df2.tail())

Ejercicio 12

           model  year  price transmission  mileage fuelType  tax   mpg  \
10777   5 Series  2016  14600    Automatic    42947   Diesel  125  60.1
10778   3 Series  2017  13100       Manual    25468   Petrol  200  42.8
10779   1 Series  2014   9930    Automatic    45000   Diesel   30  64.2
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6
10781   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4

       engineSize
10777         2.0
10778         2.0
10779         2.0
10780         2.0
10781         2.0

In [142]:
# 13
print("\nEjercicio 13\n")
array = df.to_numpy()
print(array)
print(type(array))

Ejercicio 13

[[' 5 Series' 2014 11200 ... 125 57.6 2.0]
 [' 6 Series' 2018 27000 ... 145 42.8 2.0]
 [' 5 Series' 2016 16000 ... 160 51.4 3.0]
 ...
 [' 3 Series' 2017 13100 ... 200 42.8 2.0]
 [' 1 Series' 2014 9930 ... 30 64.2 2.0]
 [' X1' 2017 15981 ... 125 57.6 2.0]]
<class 'numpy.ndarray'>

In [143]:
# 14
print("\nEjercicio 14\n")
df["milesPerYear"] = df["mileage"] / (2024 - df["year"])
print(df["milesPerYear"])

Ejercicio 14

0        6706.800000
1        2471.166667
2        7849.250000
3        3810.857143
4        3955.400000
            ...
10776    5102.250000
10777    5368.375000
10778    3638.285714
10779    4500.000000
10780    8490.285714
Name: milesPerYear, Length: 10781, dtype: float64